{% extends "base.html.twig" %}

{% block title %}BACKOFFICE | Logiciel{% endblock %}

{% block body %}
<br>
<hr>
<main>
    <h3 class="display-4 text-center my-4">

    {% if editMode %}

    BACKOFFICE | Modification du Logiciel
    {% else %}
    BACKOFFICE | Ajout d'un Logiciel

    {% endif %}
    </h3>
    {{ form_start(formLogiciel) }}
    {{ form_row(formLogiciel.titre) }}
    {{ form_row(formLogiciel.description) }}

    {{ form_row(formLogiciel.imageFile, {
        label: 'Image'
    })}}

    <button type="submit" class="btn btn-primary">

    {% if editMode %}
        Enregistrer les Modifications
    {% else %}
        Ajouter l'article
    {% endif %}



    </button>
    {{ form_end(formLogiciel) }}
</main>
<hr>
<br>
{% endblock %}